<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>호텔컴바인닷컴 :: 호텔 상세 페이지</title>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<link rel="icon" href="./img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="./css/header.css">
<link rel="stylesheet" href="./css/footer.css">
<link rel="stylesheet" href="./css/hotel_detail.css">
</head>

<body>
	<div id='app'>
		<header>
			<div class="nav">
				<ul v-if="empty">
					<li class="hotel"><a href="./index.html"> <img
							src="./img/title/hotelcombine.com.png">
					</a></li>
					<li class="login" style="float: right"><a
						href="./login_member.html">로그인</a></li>
					<li class="login" style="float: right"><a
						href="./register_member.html">회원가입</a></li>
				</ul>
				<ul v-else>
					<li class="hotel"><a href="./index.html"> <img
							src="./img/title/hotelcombine.com.png">
					</a></li>
					<li class="logout" style="float: right" :click="logout"><a
						href="./index.html" @click="logout()">로그아웃</a></li>
					<li class="logout" style="float: right"><a
						href="./member_mypage.html">마이페이지</a></li>
				</ul>
			</div>
		</header>

		<div id="css_tabs">
			<input id="tab1" type="radio" name="tab" checked="checked" /> 
			<input id="tab2" type="radio" name="tab" /> 
			<input id="tab3" type="radio" name="tab" /> 
			<input id="tab4" type="radio" name="tab" />
			<label for="tab1">객실 선택</label> 
			<label for="tab2">편의 시설 / 서비스</label> 
			<label for="tab3">정책</label>
			<label for="tab4">이용 후기</label>
			<div class="tab1_content">
				<div class="detail">
					<h2>객실 선택</h2>
					<table class="table" v-for="r in room">
						<tr>
							<td rowspan="3"><img src="./img/bangkok.jpg"></td>
							<td class="name">{{r.name}}</td>
						</tr>
						<tr>
							<td class="peopleLimitedNumber">남아있는 방의 개수:
								{{r.peopleLimitedNumber}}</td>
							<td class="price">가격: {{r.price}}</td>
						</tr>
						<tr>
							<td><button class="button" @click="add(r.id)">예약하기</button></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="tab2_content">
				<img src="./img/편의 시설:서비스.png">
			</div>
			<div class="tab3_content">
				<img src="./img/정책.png">
			</div>
			<div class="tab4_content">
				<img src="./img/이용후기.png">
			</div>
		</div>
	</div>

	<!-- <div class="tabmenu">
			<ul>
				<li id="tab1" class="btnCon">
					<input type="radio" checked name="tabmenu" id="tabmenu1"> 
					<label for="tabmenu1">객실 선택</label>
					<div class="tabCon">
						
					</div></li>
				<li id="tab2" class="btnCon"><input type="radio" name="tabmenu"
					id="tabmenu2"> <label for="tabmenu2">숙박 편의 시설</label>
					<div class="tabCon">It</div></li>
				<li id="tab3" class="btnCon"><input type="radio" name="tabmenu"
					id="tabmenu3"> <label for="tabmenu3">정책</label>
					<div class="tabCon">There</div></li>
				<li id="tab4" class="btnCon"><input type="radio" name="tabmenu"
					id="tabmenu4"> <label for="tabmenu4">이용 후기</label>
					<div class="tabCon">There</div></li>
			</ul>
		</div> -->
	</div>

	<!-- <div class="detail">
			<h2>객실 선택</h2>
			<table class="table" v-for="r in room">
				<tr>
					<td rowspan="3"><img src="./img/bangkok.jpg"></td>
					<td class="name">{{r.name}}</td>
				</tr>
				<tr>
					<td class="peopleLimitedNumber">남아있는 방의 개수:
						{{r.peopleLimitedNumber}}</td>
					<td class="price">가격: {{r.price}}</td>
				</tr>
				<tr>
					<td><button class="button" @click="add(r.id)">예약하기</button></td>
				</tr>
			</table>
		</div> -->

	<footer>
		<div class="footer">
			<table>
				<tr>
					<td><a href="#">팀 소개</a></td>
					<td><a href="https://github.com/BoYeonJang/HotelVue">Front-end
							깃 주소</a></td>
					<td><a href="https://github.com/BoYeonJang/Hotel">Back-End
							깃 주소</a></td>
				</tr>
				<tr class="footer_img_center">
					<td colspan="3"><a href="./index.html"><img
							src="./img/title/hotelcombine.com.png"></a></td>
				</tr>
			</table>
		</div>
	</footer>
	</div>
	<script>
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    room: [],
                    loading: true,
                    errored: false,
                    empty: localStorage.getItem('loginId') == null,
                    hotel: sessionStorage.getItem("hotel"),
                    checkin: sessionStorage.getItem("checkin"),
                    checkout: sessionStorage.getItem("checkout"),
                    limit: sessionStorage.getItem("limit")

                }

            }, //data
            mounted() {
                axios
                    .post('http://127.0.0.1:8888/findAllOptionApply', {
                        hotel: this.hotel,
                        checkin: this.checkin,
                        checkout: this.checkout,
                        limit: this.limit

                    })

                .then(response => (this.room = response.data))
                    .catch(error => {
                        console.log(error);
                        this.errored = true;
                        console.log(this.limit);
                    })
                    .finally(() => {

                        this.loading = false;
                        console.log(this.room);
                    })
            },
            methods: {
                add(id) {
                    location.href = "./reservation_form.html";
                    sessionStorage.setItem("hotel", id); //
                },
                logout() {
                    localStorage.removeItem("loginId");
                    localStorage.removeItem("login");
                    localStorage.removeItem('hId');
                    location.href = './index.html';
                }
            }
        });
    </script>
</body>

</html>