<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>호텔컴바인닷컴 :: 호텔 상세 페이지</title>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<link rel="icon" href="./img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="./css/header.css">
<link rel="stylesheet" href="./css/footer.css">
<link rel="stylesheet" href="./css/hotel_detail.css">
</head>

<body>
	<div id='app'>
		<header>
			<div class="nav">
				<ul v-if="empty">
					<li class="hotel"><a href="./index.html"> <img
							src="./img/title/hotelcombine.com.png">
					</a></li>
					<li class="login" style="float: right"><a
						href="./login_member.html">로그인</a></li>
					<li class="login" style="float: right"><a
						href="./register_member.html">회원가입</a></li>
				</ul>
				<ul v-else>
					<li class="hotel"><a href="./index.html"> <img
							src="./img/title/hotelcombine.com.png">
					</a></li>
					<li class="logout" style="float: right" :click="logout"><a
						href="./index.html" @click="logout()">로그아웃</a></li>
					<li class="logout" style="float: right"><a
						href="./member_mypage.html">마이페이지</a></li>
				</ul>
			</div>
		</header>

		<div id="css_tabs">
			<input id="tab1" type="radio" name="tab" checked="checked" /> <input
				id="tab2" type="radio" name="tab" /> <input id="tab3" type="radio"
				name="tab" /> <input id="tab4" type="radio" name="tab" /> <label
				for="tab1">객실 선택</label> <label for="tab2">편의 시설 / 서비스</label> <label
				for="tab3">정책</label> <label for="tab4">이용 후기</label>
			<div class="tab1_content">
				<div class="detail">
					<h2>객실 선택</h2>
					<table class="table" v-for="r in room">
						<tr>
							<td rowspan="4"><img :src="r.img"></td>
							<td class="name">{{r.name}}</td>
						</tr>
						<tr>
							<td class="peopleLimitedNumber">남아있는 방의 개수:
								{{r.peopleLimitedNumber}}</td>
						</tr>
						<tr>
							<td class="price">₩{{r.price | currency}}</td>
						</tr>
						<tr>
							<td><button class="button" @click="add(r.id)">예약하기</button></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="tab2_content">
				<h2>편의 시설 / 서비스</h2>
				<table class="tab2_table">
					<tr>
						<th>인터넷</th>
						<th>사용언어</th>
					</tr>
					<tr>
						<td>모든 객실에서 무료 WiFi 이용 가능<br>일부 공용 구역에서 무료 WiFi 이용 가능
						</td>
						<td>중국어 <br>영어 <br>프랑스어 <br>일본어 <br>한국어
						</td>
					</tr>
					<tr>
						<th>주차 및 교통편</th>
						<th>식음료</th>
					</tr>
					<tr>
						<td>무료 셀프 주차장<br>무료 RV/버스/트럭 주차.
						</td>
						<td>룸서비스 이용 가능</td>
					</tr>
					<tr>
						<th>즐길거리</th>
						<th>야외 시설</th>
					</tr>
					<tr>
						<td>24시간 운영 피트니스 센터</td>
						<td>정원</td>
					</tr>
					<tr>
						<th>가족 고객 중심 편의 시설 및 서비스</th>
						<th>편의 시설</th>
					</tr>
					<tr>
						<td>어린이 장난감 <br>드라이클리닝 서비스 <br>무료 유아용 침대 <br>세탁
							시설 <br>미니 냉장고 <br>방음 객실
						</td>
						<td>볼룸 <br>연회장 <br>엘리베이터 <br>로비의 무료 신문 <br>프런트
							데스크의 귀중품 보관함 <br>사물함 <br>리셉션 <br>홀
						</td>
					</tr>
					<tr>
						<th>고객 서비스</th>
						<th>장애인 편의 시설</th>
					</tr>
					<tr>
						<td>24시간 운영 프런트 데스크 <br>콘시어지 서비스 <br>매일 제공 하우스키핑 <br>드라이클리닝
							<br>세탁 시설 <br>투어/티켓 안내 <br>웨딩 서비스
						</td>
						<td>장애인 지원 욕실 <br>점자 표지 <br>욕조 보조 손잡이 <br>변기
							근처 보조 손잡이 <br>계단 난간 <br>장애인 지원 객실 <br>저상형 도어록 <br>저상형
							욕실 전기 콘센트 <br>상향식 좌변기 <br>롤인 샤워 <br>시각 화재 경보기<br>외
							전 구간 휠체어 사용 가능
						</td>
					</tr>
				</table>
			</div>
			<div class="tab3_content">
				<h2>정책</h2>
				<table class="tab3_table">
					<tr>
						<th>체크인</th>
						<th>체크아웃</th>
					</tr>
					<tr>
						<td>체크인: 15:00 ~ 언제든지 <br>이용 상황에 따라 이른 체크인이 가능할 수 있습니다.
							<br>최소 체크인 나이 - 만 19세
						</td>
						<td>체크아웃: 정오까지<br>이용 상황에 따라 늦은 체크아웃이 가능할 수 있습니다. <br>간편
							체크아웃
						</td>
					</tr>
					<tr>
						<th>들어가는 방법</th>
					</tr>
					<tr>
						<td>직원 상주 프런트 데스크</td>
					</tr>
					<tr>
						<th>반려동물</th>
					</tr>
					<tr>
						<td>장애인 안내 동물을 제외한 반려동물은 동반하실 수 없습니다.</td>
					</tr>
				</table>
			</div>
			<div class="tab4_content">
				<div class="reviews">
					<h2>평점</h2>
					<table class="table">
						<thead>
							<tr>
								<th>작성자</th>
								<th>평점</th>
								<th>내용</th>
							</tr>
						</thead>
						<template v-for="review in reviews"> <template
							v-if="review.hotelId == hotel">
						<tbody>
							<tr>
								<td>{{review.memberId}}</td>
								<td>{{review.score}}</td>
								<td>{{review.content}}</td>
							</tr>
						</tbody>
						</template> </template>
					</table>
				</div>
			</div>
		</div>

		<footer>
			<div class="footer">
				<table>
					<tr>
						<td><a href="./team.html">팀 소개</a></td>
						<td><a href="https://github.com/BoYeonJang/HotelVue">Front-end
								깃 주소</a></td>
						<td><a href="https://github.com/BoYeonJang/Hotel">Back-End
								깃 주소</a></td>
					</tr>
					<tr class="footer_img_center">
						<td colspan="3"><a href="./index.html"><img
								src="./img/title/hotelcombine.com.png"></a></td>
					</tr>
				</table>
			</div>
		</footer>
	</div>
	<script>
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    room: [],
                    reviews : [],
                    loading: true,
                    errored: false,
                    empty: localStorage.getItem('loginId') == null,
                    hotel: sessionStorage.getItem("hotel"),
                    checkin: sessionStorage.getItem("checkin"),
                    checkout: sessionStorage.getItem("checkout"),
                    limit: sessionStorage.getItem("limit")
                }
            }, //data
            filters: {
		        currency: function (value) {
		            var num = new Number(value);
		            return num.toFixed(0).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")
		        }
		    }, // filters
            mounted() {
               this.findAllReview();
               this.findRoomByOption();
            },
            methods: {
                add(id) {
                    location.href = "./reservation_form.html";
                    sessionStorage.setItem("hotel", id); //
                },
                logout() {
                    localStorage.clear();
                    location.href = './index.html';
                },
                findAllReview() {
                   axios
                    .get("http://127.0.0.1:8888/findAllReview")
                    .then(response => (this.reviews = response.data))
                    .catch(error => {
                        console.log(error);
                        this.errored = true;
                    })
                    .finally(() => this.loading = false)
                },
                findRoomByOption() {
                   axios
                    .post('http://127.0.0.1:8888/findAllOptionApply', {
                        hotel: this.hotel,
                        checkin: this.checkin,
                        checkout: this.checkout,
                        limit: this.limit
                    })
                    .then(response => (this.room = response.data))
                    .catch(error => {
                        console.log(error);
                        this.errored = true;
                        console.log(this.limit);
                    })
                    .finally(() => {
                        this.loading = false;
                    })
                }//findRoomByoption 
            }//methods
        });//vue
    </script>
</body>
</html>