<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>호텔컴바인닷컴 :: 로그인</title>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<link rel="icon" href="./img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="./css/header.css">
<link rel="stylesheet" href="./css/footer.css">
<link rel="stylesheet" href="./css/login_member.css">
</head>

<body>
	<div id="app">
		<header>
			<div class="nav">
				<ul v-if="empty">
					<li class="hotel"><a href="./index.html"> <img
							src="./img/title/hotelcombine.com.png">
					</a></li>
					<li class="login" style="float: right"><a
						href="./login_member.html">로그인</a></li>
					<li class="login" style="float: right"><a
						href="./register_member.html">회원가입</a></li>
				</ul>
				<ul v-else>
					<li class="hotel"><a href="./index.html"> <img
							src="./img/title/hotelcombine.com.png">
					</a></li>
					<li class="logout" style="float: right" :click="logout"><a
						href="./index.html" @click="logout()">로그아웃</a></li>
					<li class="logout" style="float: right"><a
						href="./member_mypage.html">마이페이지</a></li>
				</ul>
			</div>
		</header>
		<div class="login_member">
			<form action="#" method="post" name="loginForm" id="loginForm"
				@submit.prevent="loginMember()">
				<table class="table">
					<tr>
						<th colspan="2" class="title">로그인</th>
					</tr>
					<tr>
						<td>아이디</td>
						<td><input type="text" placeholder="아이디를 입력하세요" id="id"
							name="id" v-model="cid"></td>
					</tr>
					<tr>
						<td>비밀번호</td>
						<td><input type="password" placeholder="비밀번호를 입력하세요"
							id="password" name="password" v-model="cpassword"></td>
					</tr>
					<tr>
						<td colspan="2">
							<button type="submit" name="submit" class="button">로그인</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
		<footer>
			<div class="footer">
				<table>
					<tr>
						<td><a href="#">팀 소개</a></td>
						<td><a href="https://github.com/BoYeonJang/HotelVue">Front-end
								깃 주소</a></td>
						<td><a href="https://github.com/BoYeonJang/Hotel">Back-End
								깃 주소</a></td>
					</tr>
					<tr class="footer_img_center">
						<td colspan="3"><a href="./index.html"><img
								src="./img/title/hotelcombine.com.png"></a></td>
					</tr>
				</table>
			</div>
		</footer>
	</div>
	<script>
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    info: [],
                    loading: true,
                    errored: false,
                    cid: '',
                    cpassword: '',
                    empty: localStorage.getItem('loginId') == null
                }

            }, //data
            mounted() {
                axios
                    .get("http://localhost:8888/findAllMember")
                    .then(response => (this.info = response.data))
                    .catch(error => {
                        console.log(error);
                        this.errored = true;
                    })
                    .finally(() => this.loading = false)
            },
            methods: {
                logout() {
                    localStorage.removeItem("loginId")
                    location.href = './index.html'
                },
                loginMember() {
            		if(this.cid == "") {alert('아이디를 입력하세요'); return;}
            		if(this.cpassword == "") {alert('비밀번호를 입력하세요'); return;}
                    axios
                        .post("http://localhost:8888/loginMember", {
                            id: this.cid,
                            password: this.cpassword,
                        })
                        .then(function(response) {
                            alert(`${response.data.name} 님이 로그인 하셨습니다`)
                            localStorage.setItem('loginId', document.getElementById('id').value);
                            localStorage.setItem('hId',response.data.hotelId);
                            location.href = "./index.html";
                        })
                }
            } //method
        });
    </script>
</body>

</html>