<!DOCTYPE html>
<html>

<head>
    <meta charset="EUC-KR">
    <title>Insert title here</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <h2>개인 회원 로그인</h2>
    <div id="app">
        <div class="login_member">
            <form action="#" method="post" name="loginForm" id="loginForm" @submit.prevent="loginMember">
                <fieldset>
                    <legend>로그인</legend>
                    <p>
                        아이디<br> <input type="text" placeholder="아이디를 입력하세요" id="id" name="id" v-model="cid">
                    </p>
                    <p>
                        비밀번호<br> <input type="password" placeholder="비밀번호를 입력하세요" id="password" name="password" v-model="cpassword">
                    </p>
                </fieldset>
                <button type="submit" name="submit">로그인</button>
                <!-- <button type="button">아이디 찾기</button>
         <button type="button">비밀번호 찾기</button> -->
            </form>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    info: [],
                    loading: true,
                    errored: false,
                    cid: '',
                    cpassword: ''
                }

            }, //data
            mounted() {
                axios
                    .get("http://localhost:8888/api/findAllMember")
                    .then(response => (this.info = response.data))
                    .catch(error => {
                        console.log(error);
                        this.errored = true;
                    })
                    .finally(() => this.loading = false)
            },
            methods: {
                loginMember() {
                    if (this.cid == "") {
                        alert('아이디를 입력하세요');
                        return;
                    }
                    if (this.cpassword == "") {
                        alert('비밀번호를 입력하세요');
                        return;
                    }

                    axios
                        .post("http://localhost:8888/api/loginMember", {
                            id: this.cid,
                            password: this.cpassword,
                        })
                        .then(function(response) {
                            alert(`${response.data.name} 님이 로그인하셨습니다.`)
                            localStorage.setItem('loginId', JSON.stringify(response.data))
                            localStorage.setItem("ss", true)
                            location.href = "./index.html";
                        })
                }
            } //method

        });
    </script>
</body>

</html>