<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Insert title here</title>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<link rel="icon" href="./img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="./css/header.css">
</head>

<body>
	<div id="app">
		<header>
			<div class="nav">
				<ul v-if="empty">
					<li class="hotel"><a href="./index.html"> <img
							src="./img/title/hotelcombine.com.png">
					</a></li>
					<li class="login" style="float: right"><a
						href="./login_member.html">로그인</a></li>
					<li class="login" style="float: right"><a
						href="./register_member.html">회원가입</a></li>
				</ul>
				<ul v-else>
					<li class="hotel"><a href="./index.html"> <img
							src="./img/title/hotelcombine.com.png">
					</a></li>
					<li class="logout" style="float: right" :click="logout"><a
						href="./index.html" @click="logout()">로그아웃</a></li>
					<li class="logout" style="float: right"><a
						href="./member_mypage.html">마이페이지</a></li>
				</ul>
			</div>
		</header>
		<div class="login_member">
			<form action="#" method="post" name="loginForm" id="loginForm"
				@submit.prevent="loginMember()">
				<fieldset>
					<legend>로그인</legend>
					<p>
						아이디<br> <input type="text" placeholder="아이디를 입력하세요" id="id"
							name="id" v-model="cid">
					</p>
					<p>
						비밀번호<br> <input type="password" placeholder="비밀번호를 입력하세요"
							id="password" name="password" v-model="cpassword">
					</p>
				</fieldset>
				<button type="submit" name="submit">로그인</button>
			</form>
		</div>
	</div>
	<script>
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    info: [],
                    loading: true,
                    errored: false,
                    cid: '',
                    cpassword: '',
                    empty: localStorage.getItem('loginId') == null
                }

            }, //data
            mounted() {
                axios
                    .get("http://localhost:8888/findAllMember")
                    .then(response => (this.info = response.data))
                    .catch(error => {
                        console.log(error);
                        this.errored = true;
                    })
                    .finally(() => this.loading = false)
            },
            methods: {
                logout() {
                    localStorage.removeItem("loginId")
                    location.href = './index.html'
                },
                loginMember() {
            		if(this.cid == "") {alert('아이디를 입력하세요'); return;}
            		if(this.cpassword == "") {alert('비밀번호를 입력하세요'); return;}
                    axios
                        .post("http://localhost:8888/loginMember", {
                            id: this.cid,
                            password: this.cpassword,
                        })
                        .then(function(response) {
                            alert(`${response.data.name} 님이 로그인 하셨습니다`)
                            localStorage.setItem('loginId', document.getElementById('id').value);
                            localStorage.setItem('hId',response.data.hotelId);
                            location.href = "./index.html";
                        })
                }
            } //method
        });
    </script>
</body>

</html>