<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<link rel="stylesheet" href="./css/header.css">
</head>
<body>
	<h2>개인정보 수정</h2>
	<div id="app">
		<header>
			<div class="nav">
				<ul v-if="empty">
					<li class="hotel"><a href="./index.html"> <img
							src="./img/title/hotelcombine.com.png">
					</a></li>
					<li class="login" style="float: right"><a
						href="./login_member.html">로그인</a></li>
					<li class="login" style="float: right"><a
						href="./register_member.html">회원가입</a></li>
				</ul>
				<ul v-else>
					<li class="hotel"><a href="./index.html"> <img
							src="./img/title/hotelcombine.com.png">
					</a></li>
					<li class="logout" style="float: right" :click="logout"><a
						href="./index.html" @click="logout()">로그아웃</a></li>
					<li class="logout" style="float: right"><a
						href="./member_mypage.html">마이페이지</a></li>
				</ul>
			</div>
		</header>
		<div>
			<form action="#" method="POST" name="updateForm" id="frm"
				@submit.prevent="update()">
				아이디 : <input type="text" id="id" name="id" v-model="mid" readonly>
				<p>
					비밀번호 : <input type="text" id="password" name="password"
						v-model="info.password">
				<p>
					이름 : <input type="text" id="name" name="name" v-model="info.name">
				<p>
					전화번호 : <input type="text" id="phone" name="phone"
						v-model="info.phone">
				<p>
					주소 : <input type="text" id="address" name="address"
						v-model="info.address">
				<p>
					이메일 : <input type="text" id="email" name="email"
						v-model="info.email">
				<p>

					<button type="submit">수정 완료</button>
			</form>
		</div>
	</div>
	<script>
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    info: [],
                    loading: true,
                    errored: false,
                    mid: localStorage.getItem('loginId'),
                    empty: localStorage.getItem('loginId') == null
                }
            },
            mounted() {
                axios
                    .get("http://127.0.0.1:8888/findMemberById/" + this.mid)
                    .then(response => (this.info = response.data))
                    .catch(error => {
                        console.log(error);
                        this.errored = true
                    })
                    .finally(() => this.loading = false)
            },
            methods: {
                update() {
                    if (document.getElementById('password').value== "") {
                        alert('비밀번호를 입력하세요');
                        return;
                    }
                    axios
	                    .put("http://127.0.0.1:8888/updateMember", {
	                       id:this.mid,
	                       password:document.getElementById('password').value,
	                      name:document.getElementById('name').value,
	                      phone:document.getElementById('phone').value,
	                      address:document.getElementById('address').value,
	                      email:document.getElementById('email').value
	                       
	                    })
                        .then(function(response) {
                            //alert(app.cname+'님이 등록되었습니다.');
                            alert(`${app.info.name} 님 정보 수정 완료되었습니다.`);
                            localStorage.removeItem('hId');
                            location.href = "./index.html";
                        })
                },
            	logout() {
                    localStorage.clear();
                    location.href = './index.html'
                }
            }
        })
    </script>
</body>
</html>