<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>title</title>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<link rel="stylesheet" href="./css/header.css">
<link rel="stylesheet" href="./css/footer.css">
<link rel="stylesheet" href="./css/register_member.css">
</head>

<body>
	<div id="app">
		<header>
			<div class="nav">
				<ul v-if="empty">
					<li class="hotel"><a href="./index.html"> <img
							src="./img/title/hotelcombine.com.png">
					</a></li>
					<li class="login" style="float: right"><a
						href="./login_member.html">로그인</a></li>
					<li class="login" style="float: right"><a
						href="./register_member.html">회원가입</a></li>
				</ul>
				<ul v-else>
					<li class="hotel"><a href="./index.html"> <img
							src="./img/title/hotelcombine.com.png">
					</a></li>
					<li class="logout" style="float: right" :click="logout"><a
						href="./index.html" @click="logout()">로그아웃</a></li>
					<li class="logout" style="float: right"><a
						href="./member_mypage.html">마이페이지</a></li>
				</ul>
			</div>
		</header>
		<form action="#" method="POST" name="registForm" id="registForm"
			@submit.prevent="registMember">
			<div class="register">
				<table border="1">
					<tr>
						<th>회원가입</th>
					</tr>
					<tr>
						<td>아이디</td>
						<td><input type="text" name="id" id="id" v-model="cid" v-on:blur="checkId()"></td>
					</tr>
					<tr>
						<td>비밀번호</td>
						<td><input type="password" name="password" id="password"
							v-model="cpassword"></td>
					</tr>
					<tr>
						<td>이름</td>
						<td><input type="text" name="name" id="name" v-model="cname"></td>
					</tr>
					<tr>
						<td>핸드폰 번호</td>
						<td><input type="text" name="phone" id="phone"
							v-model="cphone"></td>
					</tr>
					<tr>
						<td>주소</td>
						<td><input type="text" name="address" id="address"
							v-model="caddress"></td>
					</tr>
					<tr>
						<td>이메일</td>
						<td><input type="text" name="email" id="email"
							v-model="cemail"></td>
					</tr>
				</table>
			</div>
			<div>
				<table border="1">
					<tr>
						<td>호텔 아이디</td>
						<td><input type="text" name="hotelId" id="hotelId"
							v-model="chotel_id"></td>
					</tr>
				</table>
			</div>
			<button type="submit" name="button">회원 가입</button>
		</form>
		<footer>
			<div class="footer">
				<table>
					<tr>
						<td><a href="#">팀 소개</a></td>
						<td><a href="https://github.com/BoYeonJang/HotelVue">Front-end
								깃 주소</a></td>
						<td><a href="https://github.com/BoYeonJang/Hotel">Back-End
								깃 주소</a></td>
					</tr>
					<tr class="footer_img_center">
						<td colspan="3"><a href="./index.html"><img
								src="./img/title/hotelcombine.com.png"></a></td>
					</tr>
				</table>
			</div>
		</footer>
	</div>
	<script>
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    info: [],
                    loading: true,
                    errored: false,
                    cid: '',
                    cpassword: '',
                    cname: '',
                    cphone: '',
                    caddress: '',
                    cemail: '',
                    chotel_id: '',
                    empty: localStorage.getItem('loginId') == null
                }
            }, //data
            mounted() {
                axios
                    .get("http://localhost:8888/findAllMember")
                    .then(response => (this.info = response.data))
                    .catch(error => {
                        console.log(error);
                        this.errored = true
                    })
                    .finally(() => this.loading = false)
            },
            methods: {
                logout() {
                    localStorage.removeItem("loginId");
                    localStorage.removeItem('hId');
                    location.href = './index.html';
                },
                registMember() {
            		if(this.cid == "") {alert('아이디를 입력하세요'); return;}
            		if(this.cpassword == "") {alert('비밀번호를 입력하세요'); return;}
            		if(this.cname == "") {alert('이름을 입력하세요'); return;}
            		if(this.cphone == "") {alert('핸드폰 번호를 입력하세요'); return;}
            		if(this.caddress == '') {alert('주소를 입력하세요'); return;}
            		if(this.cemail == '') {alert('이메일를 입력하세요'); return;}
            		
                    axios
                        .post("http://localhost:8888/registMember", {
                            id: this.cid,
                            password: this.cpassword,
                            name: this.cname,
                            phone: this.cphone,
                            address: this.caddress,
                            email: this.cemail,
                            hotel_id: this.chotel_id,
                        })
                        .then(function(response) {
                            alert(`${app.cname} 님이 등록되셨습니다.`);
                            location.href = "./login_member.html";
                        })
                },
                checkId(){
                	axios.get("http://localhost:8888/findMemberById/"+this.cid)
                	.then(function(response){
                		if(response.data.id !=null){
                			alert("중복된 아이디 입니다.")
                			var input = document.getElementById('id');
                			input.value = null;
                			input.focus;
                		}else{
                			alert("사용 가능한 아이디 입니다.")
                		}
                	})
                }
            } //method
        })
    </script>
</body>
</html>