<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>호텔컴바인닷컴 :: 예약 상세페이지</title>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="icon" href="./img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="./css/mypage.css">
<link rel="stylesheet" href="./css/header.css">
<link rel="stylesheet" href="./css/footer.css">
<link rel="stylesheet" href="./css/reservation_detail.css">
</head>
<body>
	<div id="app">
		<header>
			<div class="nav">
				<ul v-if="empty">
					<li class="hotel"><a href="./index.html"> <img
							src="./img/title/hotelcombine.com.png">
					</a></li>
					<li class="login" style="float: right"><a
						href="./login_member.html">로그인</a></li>
					<li class="login" style="float: right"><a
						href="./register_member.html">회원가입</a></li>
				</ul>
				<ul v-else>
					<li class="hotel"><a href="./index.html"> <img
							src="./img/title/hotelcombine.com.png">
					</a></li>
					<li class="logout" style="float: right" :click="logout"><a
						href="./index.html" @click="logout()">로그아웃</a></li>
					<li class="logout" style="float: right"><a
						href="./member_mypage.html">마이페이지</a></li>
				</ul>
			</div>
		</header>

		<div class="res_detail">
			<template v-for="room in rooms"> <template
				v-for="hotel in hotels"> <template
				v-if="reservation.roomId == room.id & room.hotelId == hotel.id">
			<table class="table">
				<tr>
					<th>예약 날짜</th>
					<th>예약 인원수</th>
					<th>호텔명</th>
					<th>호텔 이미지</th>
					<th>방이름</th>
					<th>금액</th>
				</tr>
				<tr>
					<td>{{reservation.checkin}} ~ {{reservation.checkout}}</td>
					<td>{{reservation.guestNumber}}</td>
					<td>{{hotel.name}}</td>
					<td><img class="img" :src="hotel.img" /></td>
					<td>{{room.name}}</td>
					<td>{{room.price | currency}}원</td>
				</tr>
			</table>
			</template> </template> </template>
		</div>

		<footer>
			<div class="footer">
				<table>
					<tr>
						<td><a href="./team.html">팀 소개</a></td>
						<td><a href="https://github.com/BoYeonJang/HotelVue">Front-end
								깃 주소</a></td>
						<td><a href="https://github.com/BoYeonJang/Hotel">Back-End
								깃 주소</a></td>
					</tr>
					<tr class="footer_img_center">
						<td colspan="3"><a href="./index.html"><img
								src="./img/title/hotelcombine.com.png"></a></td>
					</tr>
				</table>
			</div>
		</footer>
	</div>
	<script>
		function getUrlParams() {
		    var params = {};
		    window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(str, key, value) { params[key] = value; });
		    return params;
		}
		new Vue({
			el:'#app',
			data() {
				return {
					loading : true,
					errored : false,
					member : {},
					reservation : {},
					hotels : [],
					rooms : [],
					empty : localStorage.getItem('loginId') == null
				}
			},//data
			filters: {
		        currency: function (value) {
		            var num = new Number(value);
		            return num.toFixed(0).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")
		        }
		    }, // filters
			mounted(){
				this.intiMember();
		
			},
			methods: {
				intiMember() {
					axios
					.get("http://localhost:8888/findMemberById/" + localStorage.getItem('loginId'))
					.then(response => (this.member = response.data))
					.catch(error =>{
						console.log(error);
						this.errored=true;
					})
					.finally(()=> {
						this.loading =false;
						this.intiReservation();
						this.retrieveHotels();
						this.retrieveRooms();
					})
				},
				intiReservation() {
					axios
					.get("http://localhost:8888/findReservationById/" + localStorage.getItem('rId'))
					.then(response => (this.reservation = response.data))
					.catch(error =>{
						console.log(error);
						this.errored=true;
					})
					.finally(()=>this.loading =false)
				},
				retrieveHotels() {
					axios
					.get("http://localhost:8888/findAllHotel")
					.then(response => (this.hotels = response.data))
					.catch(error =>{
						console.log(error);
						this.errored=true;
					})
					.finally(()=>this.loading =false)
				},
				retrieveRooms() {
					axios
					.get("http://localhost:8888/findAllRoom")
					.then(response => (this.rooms = response.data))
					.catch(error =>{
						console.log(error);
						this.errored=true;
					})
					.finally(()=>this.loading =false)
				},
		    	logout() {
		            localStorage.removeItem("loginId")
		            localStorage.removeItem('hId');
		            location.href = './index.html'
		        }
			}
		});
</script>
</body>
</html>