<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>고객들의 호넬 예약 목록 보기</title>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<link rel="stylesheet" href="./css/mypage.css">
</head>
<body>
	<div id="app">
		<header>
			<div class="nav">
				<ul v-if="empty">
					<li class="hotel"><a href="./index.html"> <img
							src="./img/title/hotelcombine.com.png">
					</a></li>
					<li class="login" style="float: right"><a
						href="./login_member.html">로그인</a></li>
					<li class="login" style="float: right"><a
						href="./register_member.html">회원가입</a></li>
				</ul>
				<ul v-else>
					<li class="hotel"><a href="./index.html"> <img
							src="./img/title/hotelcombine.com.png">
					</a></li>
					<li class="logout" style="float: right" :click="logout"><a
						href="./index.html" @click="logout()">로그아웃</a></li>
					</li>
					<li class="logout" style="float: right"><a
						href="./member_mypage.html">마이페이지</a></li>
				</ul>
			</div>
		</header>
		<h2>현재 로그인한 셀러가 담당하는 호텔에 예약된 목록들 불러오기</h2>
		<table border="3px">
			<thead>
				<tr>
					<th>예약번호</th>
					<th>일자</th>
					<th>예약인원</th>
					<th>방이름</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
				<!-- 특정 호텔에 예약한 예약 정보들을 모두 열람 가능 -->
				<template v-for="reservation in reservations"> <template
					v-for="room in rooms"> <template
					v-if="reservation.roomId == room.id & room.hotelId == hotel.id">
				<tr>
					<th>{{reservation.id}}</th>
					<th>{{reservation.checkin}} ~ {{reservation.checkout}}</th>
					<th>{{reservation.guestNumber}}</th>
					<th>{{room.name}}</th>
					<th><input type="button" name="delete"
						@click="deleteReservation(reservation.id)" value="삭제"></th>
				</tr>
				</template> </template> </template>
			</tbody>
		</table>
	</div>





	<script>

var app = new Vue({
	el:'#app',
	data() {
		return {
			loading : true,
			errored : false,
			empty: localStorage.getItem('loginId') == null,
			member : {},
			hotel : {},
			rooms : [],
			reservations : []
		}
	},//data
	mounted(){
		this.initMember();
	},
	methods: {
		initMember() {
			axios
			.get("http://localhost:8888/findMemberById/" + localStorage.getItem('loginId'))
			.then(response => {
				this.member = response.data;
				this.initHotel();
				this.initRooms();
				this.initReservations();
			})
			.catch(error =>{
				console.log(error);
				this.errored=true;
			})
			.finally(()=> this.loading =false)
		},
		initHotel() {
			console.log(this.member.hotelId)
			axios
			.get("http://localhost:8888/findHotelById/" + this.member.hotelId)
			.then(response => (this.hotel = response.data))
			.catch(error =>{
				console.log(error);
				this.errored=true;
			})
			.finally(()=>this.loading =false)
		},
		initRooms() {
			axios
			.get("http://localhost:8888/findRoomByHotelId/" + this.member.hotelId)
			.then(response => (this.rooms = response.data))
			.catch(error =>{
				console.log(error);
				this.errored=true;
			})
			.finally(()=>this.loading =false)
		},
		initReservations() {
			axios
			.get("http://localhost:8888/findAllReservation")
			.then(response => (this.reservations = response.data))
			.catch(error =>{
				console.log(error);
				this.errored=true;
			})
			.finally(()=>this.loading =false)
		},
		deleteReservation(reservationId) {
			axios
			.delete("http://localhost:8888/deleteReservation/" + reservationId)
			.then(response => {
				this.initHotel();
				this.initRooms();
				this.initReservations();
			})
			.catch(error =>{
				console.log(error);
				this.errored=true;
			})
			.finally(()=>this.loading =false)
		},
    	logout() {
            localStorage.removeItem("loginId")
            location.href = './index.html'
        }
	}
})
</script>
</body>
</html>