    @charset "UTF-8";
    footer {
        list-style-type: none;
        overflow: hidden;
        background-color: #1e3799;
    }
    
    footer td {
        font-size: 1.25rem;
    }
    
    footer td a {
        color: white;
        text-align: center;
        text-decoration: none;
        padding: 2rem;
    }
    
    footer img {
        width: 20rem;
        height: auto;
        text-align: center;
    }
    
    footer .footer_img_center {
        text-align: center;
    }
    
    footer table {
        margin: 0 auto;
    }