    @charset "UTF-8";
    body {
        background-image: url(../img/Paris-travel-Wallpaper-background-01.jpg);
        background-repeat: no-repeat;
        background-position-x: 8px;
        background-position-y: 137px;
        background-size: 89rem 40rem
    }
    
    .tour {
        margin: 0 auto;
        border: 2px solid #1e3799;
        width: 60rem;
        height: auto;
        border-radius: 15px;
        margin-bottom: 5rem;
        background-color: white;
    }
    
    table.tour .travel {
        padding-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        font-size: 2rem;
        text-align: center;
        color: #1e3799;
    }
    
    table.tour td {
        margin-top: 5rem;
        text-align: center;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        padding-top: 0.5rem;
        padding-bottom: 1rem;
    }
    
    table.tour .button {
        width: 10rem;
        height: 3rem;
        border-radius: 15px;
        background-color: #1e3799;
        color: white;
        font-size: 1.5rem;
        text-align: center;
    }
    
    table.tour .button:hover {
        background-color: #4a69bd;
        color: white;
    }
    
    table.tour .city {
        width: 27rem;
        height: 3rem;
        border-radius: 15px;
        font-size: 1.5rem;
        padding-left: 1rem;
    }
    
    table.tour .checkin,
    .checkout,
    .human {
        width: 10rem;
        height: 3rem;
        border-radius: 15px;
        font-size: 1.5rem;
        padding-left: 1rem;
    }
    
    input[type="date"]::before {
        content: attr(date-placeholder);
        width: 100%;
    }
    
    input[type="date"]:focus::before,
    input[type="date"]:valid::before {
        display: none
    }
    
    .container {
        background-color: white;
    }